.asset {
  &__details {
    color: $black;
    font-weight: normal;
    text-shadow: 1px 1px 3px rgba(168, 168, 168, 1);
  }

  &__label {
    display: inline-block;
    font-weight: 700;
    color: $black;
    margin-right: 0.5em;
  }
}
