.asset-preview {
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  padding: .75em;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s;
  height: 100%;

  &:hover {
    background-color: rgba(0,0,0,0.4);
    text-decoration: none;
  }

  img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
  }

  i {
    color: #FFF;
    font-size: 4em;
  }

  &__cover {
    flex-basis: 10em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: #FFF;
    //background-color: rgba(0,0,0,0.6);
    line-height: 1.2;
    font-size: 1em;

    overflow: hidden;
    margin-top: 0.5em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: auto;
  }
}
