body {
  background-color: transparent;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url('/images/bg.jpg');
  background-size: cover;
}

#content {
  position: relative;
  z-index: 1;
}

.page-block {
  background-color: rgba(255, 255, 255, 0.3);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
