.Header {
  &__logo {
    display: flex;
    justify-content: flex-start;
  }

  &__form {
    display: flex;
    justify-content: flex-end;
  }

  @include media-breakpoint-only(xs) {
    &__logo {
      margin-bottom: 1em;
    }

    &__logo, &__form {
      justify-content: center;
    }
  }
}
