.Message {
  background-color: rgba(255, 255, 255, 0.4);
  color: #FFF;
  font-size: 1.5em;
  text-align: center;
  padding: 1em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);

  &--info {
    color: $white;
  }

  &--error {
    color: $white;
    background-color: rgba(254, 52, 62, 0.4);
  }
}
