<template>
    <form method="GET" :action="action" @submit="checkForm">
        <div class="mb-2" style="position: relative">
            <input name="query" placeholder="Search assets" v-model="search" class="SearchForm__input"/>
            <button type="submit" name="submit" value="submit" class="SearchForm__button"><i class="fas fa-search"></i></button>
        </div>

        <div>
            <label class="SearchForm__checkbox" v-for="type in types">
                <input type="checkbox" name="types[]" :value="type" v-model="selectedTypes"/> {{ type }}
            </label>
        </div>

        <div v-if="errors.length">
            <div v-for="error in errors" class="error">{{ error }}</div>
        </div>
    </form>
</template>

<script>
    export default {
        props: ['action', 'query'],
        data: function () {
            return {
                errors: [],
                search: null,
                types: ['image', 'video', 'audio'],
                selectedTypes: ['video', 'audio', 'image']
            }
        },
        methods:{
            checkForm: function (e) {
                if (this.search && this.selectedTypes.length > 0) {
                    return true;
                }

                this.errors = [];

                if (!this.search) {
                    this.errors.push('Query string is required.');
                }
                if (this.selectedTypes.length === 0) {
                    this.errors.push('At least one type of media needs to be chosen.');
                }

                e.preventDefault();
            }
        },
        mounted(){
            this.search = this.query
        }
    }
</script>

<style>
    .SearchForm__input {
        border: 1px solid #FFF;
        height: 3em;
        width: 100%;
        border-radius: 0.5em;
        padding-left: 1em;
        padding-right: 3em;
    }

    .SearchForm__button {
        position: absolute;
        right: 0;
        top: 0;
        border: 1px solid transparent;
        background-color: rgba(0,0,0,0.7);
        color: #FFF;
        height: 3em;
        padding: 0 1em;
        border-bottom-right-radius: 0.5em;
        border-top-right-radius: 0.5em;
        cursor: pointer;
    }

    .SearchForm__checkbox {
        display: inline-block;
        color: #FFF;
        background-color: rgba(0,0,0,0.7);
        margin-right: 1em;
        padding: 0.25em 0.5em;
        text-transform: capitalize;
        border-radius: 0.5em;
    }

    .error {
        color: red;
        background-color: rgba(0,0,0,0.7);
        padding: 1em;
        margin-bottom: 0.5em;
    }
</style>
